<div class='game-container'>
	<table id='gameboard'>
		<% if current_user.id == @game.white_user_id %>
			<% range = (0..7) %>
		<% else %>
			<% range = 7.downto(0) %>
		<% end %>
		<% range.each do |row| %>
			<tr class='y-position-<%= row %>'>
				<% range.each do |column| %>
					<td class='x-position-<%= column %>' data-x-position='<%= column %>' data-y-position='<%= row %>' >
						<% query_result = @game.pieces.where(current_position_x: column, current_position_y: row).last %>
						<% if query_result != nil %>
							<%= link_to piece_path(query_result) do %>
								<%= image_tag query_result.image %>
							<% end %>
						<% end %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>
