<br /><br />

<%= render 'shared/gameboard' %>

<div class="modal">
  <input class="modal-state" id="promo-modal" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="promo-modal"></div>
        <hgroup>
          <h4>Pawn Promotion</h4>
          <h6>Choose Your Piece:</h6>
        </hgroup>
        <form action="#" class="promotion-choice">
          <div class="promo-selection-container">
            <% ['Queen', 'Bishop', 'Rook', 'Knight'].each do |name| %>
              <div class="promo-selection-choice">
                <label for="<%= name.downcase %>">
                  <%= name %>
                </label>
                <input type="radio" name="piece-type" value="<%= name %>" id="<%= name.downcase %>">
              </div>
            <% end %>
        </div>
        <div class="promo-selection-submit">
          <input type="submit">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(function() {

    $('td a').click(function(ev) {
      ev.preventDefault();
    });

    $('td a').mousedown(function() {
      $('td a').not(this).css('z-index', '100');
      $(this).css('z-index', '1000');
      $('.highlight').removeClass("highlight");
      $(this).parent().addClass("highlight");
    });

    $('td a').draggable({
      revert: "invalid",
      revertDuration: 0
    });

    $('td').droppable({
      drop: function(ev, ui) {
        var dropped = ui.draggable;
        var droppedOn = $(this);
        var pieceLink = dropped.attr("href");
        var x = droppedOn.data("x-position");
        var y = droppedOn.data("y-position");

        $.post(pieceLink, {
          _method: "PUT",
          piece: {
            current_position_x: x,
            current_position_y: y
          }
        })
        .fail(function(response) {
          $(ui.helper).css({top: 0,left: 0});
        })
        .done(function(msg) {
          if (droppedOn.find('.ui-draggable').length){
            droppedOn.find('.ui-draggable').remove();
          }
          $(dropped).detach().css({top: 0,left: 0}).appendTo(droppedOn);
          droppedOn.addClass("highlight");
        });

      }
    });

    // Pawn Promotion
    function isPawn($piece) {
      return ($piece.data('piece-type') == 'Pawn');
    }

    function isMovingToLastRank(y) {
      return ((y == 0) || (y == 7));
    }

    function isPawnPromotion( $piece, y) {
      return (isPawn($piece) && isMovingToLastRank(y));
    }

    // Modal
    function openModal (modalId, callback) {
      var $modal = $(modalId);

      // Change modal-state checkbox to checked
      $modal.prop("checked", true);

      if ($modal.is(":checked")) {
        $("body").addClass("modal-open");
      } else {
        $("body").removeClass("modal-open");
      }

      $(".modal-fade-screen, .modal-close").on("click", function() {
        $(".modal-state:checked").prop("checked", false).change();
      });

      $(".modal-inner").on("click", function(e) {
        e.stopPropagation();
      });

      // When form is submitted, pass input value into callback function
      $('.promo-selection-submit input').on('click', function() {
        callback( $('.promo-selection-choice input').val() );
      });
    }

  });

</script>
